<div class="scanline"></div>
<div class="crt"></div>
<div class="container phosphor">
	<header class="header">
		<h1>ROBCO INDUSTRIES UNIFIED OPERATING SYSTEM</h1>
		<p>COPYRIGHT 2075-2077 ROBCO INDUSTRIES</p>
	</header>
	<main class="main-content">
		<!-- Navigation -->
		<nav class="nav">
			<div id="btn_home" class="nav-item">
				<span>&gt; HOME</span>
			</div>
			<div id="btn_game" class="nav-item">
				<span>&gt; PLAY PONG</span>
			</div>
			<div id="btn_brickbreaker" class="nav-item active">
				<span>&gt; PLAY BRICKBREAKER</span>
			</div>
			<div id="btn_friends" class="nav-item">
				<span>&gt; FRIENDS</span>
			</div>
			<div id="btn_leaderboard" class="nav-item">
				<span>&gt; LEADERBOARD</span>
			</div>
			<div id="btn_settings" class="nav-item">
				<span>&gt; SETTINGS</span>
			</div>
			<div id="btn_logout" class="nav-item">
				<span>&gt; LOG OUT</span>
			</div>
		</nav>
		
		<div class="panel">
			<h2 class="panel-header">&gt; BRICKBREAKER</h2>

			<canvas id="board"></canvas>
		</div>
	</main>
</div>