<div class="scanline"></div>
<div class="crt"></div>
<div class="container phosphor">
	<header class="header">
		<h1>ROBCO INDUSTRIES UNIFIED OPERATING SYSTEM</h1>
		<p>COPYRIGHT 2075-2077 ROBCO INDUSTRIES</p>
	</header>
	<main class="main-content">
		<!-- Navigation -->
		<nav class="nav">
			<div id="btn_home" class="nav-item">
				<span data-translate="title.main.home"></span>
			</div>
			<div id="btn_game" class="nav-item">
				<span data-translate="title.main.pong"></span>
			</div>
			<div id="btn_friends" class="nav-item">
				<span data-translate="title.main.friends"></span>
			</div>
			<div id="btn_leaderboard" class="nav-item">
				<span data-translate="title.main.leaderboard"></span>
			</div>
			<div id="btn_mystats" class="nav-item active">
				<span data-translate="title.main.mystats"></span>
			</div>
			<div id="btn_settings" class="nav-item">
				<span data-translate="title.main.settings"></span>
			</div>
			<div id="btn_logout" class="nav-item">
				<span data-translate="title.main.logout"></span>
			</div>
		</nav>
		
		<div class="panel">
			<h2 class="panel-header" data-translate="tourbrickbreaker.title"></h2>
		
			<div class="game-container">
				<canvas id="board"></canvas>
			
				<nav class="nav right-nav card">
					<div id="btnPause" class="nav-item">
						<span data-translate="tourbrickbreaker.pause"></span>
					</div>
					<div class="game-info">
						<h3 data-translate="tourbrickbreaker.instructions.title"></h3>
						<p data-translate="tourbrickbreaker.instructions.text"></p>
					</div>
					<div class="game-info">
						<h3 data-translate="tourbrickbreaker.gamestats.title"></h3>
						<h4 data-translate="tourbrickbreaker.gamestats.lives"></h4>		
						<p>PLAYER: <span id="playerLives">5</span> | GUEST: <span id="guestLives">5</span></p>
						<h4 data-translate="tourbrickbreaker.gamestats.score"></h4>
						<p>PLAYER: <span id="playerScore">0</span> | GUEST: <span id="guestScore">0</span></p>
					</div>
					<div class="game-info">
						<h3 data-translate="tourbrickbreaker.gamestats.phase_matches"></h3>
						<div id="matchupTable">
							<p>...</p>
						</div>
					</div>
				</nav>
			</div>
		</div>

		<div id="tournamentSettingsOverlay" class="overlay active">
			<div class="overlay-content phosphor">
				<div class="popup-header">
					<h2 data-translate="tourbrickbreaker.settings.title"></h2>
					<p data-translate="tourbrickbreaker.settings.description"></p>
					<p data-translate="tourbrickbreaker.settings.warning"></p>
				</div>
				<div class="form-group">
					<label>BALL SPEED</label>
					<input type="range" class="input" id="ballSpeedSlider" min="1" value="2" max="3">
				</div>
				<div class="form-group">
					<label>PADDLE SPEED</label>
					<input type="range" class="input" id="paddleSpeedSlider" min="1" value="2" max="3">
				</div>
				<div class="form-group">
					<button id="btnEnablePowerups" class="btn">ENABLE POWERUPS</button>
					<label for="numPlayers">PLAYERS:</label>
					<select id="numPlayers" class="form-control">
						<option value="4">4</option>
					</select>
				</div>
				<div class="form-group" id="PlayersNicknames1-4">
					<input type="text" class="input" id="player1Nickname" placeholder="PLAYER1" maxlength="9">
					<input type="text" class="input" id="player2Nickname" placeholder="PLAYER2" maxlength="9">
					<input type="text" class="input" id="player3Nickname" placeholder="PLAYER3" maxlength="9">
					<input type="text" class="input" id="player4Nickname" placeholder="PLAYER4" maxlength="9">
				</div>
				<div class="form-group" id="PlayersNicknames5-8">
					<input type="text" class="input" id="player5Nickname" placeholder="PLAYER5" maxlength="9">
					<input type="text" class="input" id="player6Nickname" placeholder="PLAYER6" maxlength="9">
					<input type="text" class="input" id="player7Nickname" placeholder="PLAYER7" maxlength="9">
					<input type="text" class="input" id="player8Nickname" placeholder="PLAYER8" maxlength="9">
				</div>
				<div class="form-group" id="PlayersNicknames9-12">
					<input type="text" class="input" id="player9Nickname" placeholder="PLAYER9" maxlength="9">
					<input type="text" class="input" id="player10Nickname" placeholder="PLAYER10" maxlength="9">
					<input type="text" class="input" id="player11Nickname" placeholder="PLAYER11" maxlength="9">
					<input type="text" class="input" id="player12Nickname" placeholder="PLAYER12" maxlength="9">
				</div>
				<div class="form-group" id="PlayersNicknames13-16">
					<input type="text" class="input" id="player13Nickname" placeholder="PLAYER13" maxlength="9">
					<input type="text" class="input" id="player14Nickname" placeholder="PLAYER14" maxlength="9">
					<input type="text" class="input" id="player15Nickname" placeholder="PLAYER15" maxlength="9">
					<input type="text" class="input" id="player16Nickname" placeholder="PLAYER16" maxlength="9">
				</div>
				<div class="form-group">
					<button id="btnResetDefaultSettings" class="btn">RESET DEFAULT</button>
					<button id="btnQuitSettings" class="btn">QUIT GAME</button>
				</div>
				<div class="form-group">
					<button id="btnPlay" class="btn">SAVE & PLAY</button>
				</div>
			</div>
		</div>

		<div id="gameResultOverlay" class="overlay">
			<div class="overlay-content phosphor">
				<div class="popup-header">
					<h2 id="gameResultMessage">PLAYER WON!</h2>
					<p id="nextRoundMessage">THEY REACH THE NEXT ROUND</p>

					<div id="gameResultStats">
						<div id="playerStats">
							<h3 id="playerScoreMessage">PLAYER SCORE: <span id="playerFinalScore">0</span></h3>
							<p>FROM BRICKS: <span id="brickScorePlayer">...</span></p>
							<p>FROM TIME: <span id="timeScorePlayer">...</span></p>
							<p>FROM LIVES: <span id="livesScorePlayer">...</span></p>
							<p>FROM POWERUPS: <span id="powerUpScorePlayer">...</span></p>
						</div>
						<div id="playerStats">
							<h3 id="playerScoreMessage">GUEST SCORE: <span id="guestFinalScore">0</span></h3>
							<p>FROM BRICKS: <span id="brickScoreGuest">...</span></p>
							<p>FROM TIME: <span id="timeScoreGuest">...</span></p>
							<p>FROM LIVES: <span id="livesScoreGuest">...</span></p>
							<p>FROM POWERUPS: <span id="powerUpScoreGuest">...</span></p>
						</div>
					</div>

				</div>
				<div class="form-group">
					<button id="btnPlayNextMatch" class="btn">NEXT MATCH</button>
				</div>
			</div>
		</div>

		<div id="matchAnnounceOverlay" class="overlay">
			<div class="overlay-content phosphor">
				<div class="popup-header">
					<h2 data-translate="tourbrickbreaker.match_announce.ready"></h2>
					<p data-translate="tourbrickbreaker.match_announce.instructions"></p>
					<p><span data-translate="tourbrickbreaker.match_announce.player_side"></span><span id="playerSidePlayer">PLAYER</span></p>
					<p><span data-translate="tourbrickbreaker.match_announce.guest_side"></span><span id="guestSidePlayer">GUEST</span></p>
					<h3 data-translate="tourbrickbreaker.match_announce.start_prompt"></h3>
				</div>
			</div>
		</div>

		<div id="matchAnnounceOverlay" class="overlay">
			<div class="overlay-content phosphor">
				<div class="popup-header">
					<h2 data-translate="tourbrickbreaker.match_announce.ready"></h2>
					<p data-translate="tourbrickbreaker.match_announce.instructions"></p>
					<p>&gt; <span data-translate="tourbrickbreaker.match_announce.player_side"></span>: <span id="playerSidePlayer">PLAYER</span></p>
					<p>&gt; <span data-translate="tourbrickbreaker.match_announce.guest_side"></span>: <span id="guestSidePlayer">GUEST</span></p>
					<h3 data-translate="tourbrickbreaker.match_announce.start_prompt"></h3>
				</div>
			</div>
		</div>
		
	</main>
</div>