body {
    background-color: #001a00;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.terminal {
    border: 2px solid #00ff00;
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #001a00;
}

.terminal #register:hover {
	color: #009900;
}

.header {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 14px;
    text-align: left;
    margin-bottom: 20px;
}

.formlogin {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formlogin label {
    font-size: 14px;
}

.formlogin input {
    background-color: #001a00;
    border: 2px solid #00ff00;
    color: #00ff00;
    padding: 10px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.formlogin button {
    background-color: #00ff00;
    color: #001a00;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.formlogin button:hover {
    background-color: #009900;
}

.footer {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}
