<div class="scanline"></div>
<div class="crt"></div>
<div class="container phosphor">
	<header class="header">
		<h1>ROBCO INDUSTRIES UNIFIED OPERATING SYSTEM</h1>
		<p>COPYRIGHT 2075-2077 ROBCO INDUSTRIES</p>
	</header>
	<main class="main-content">
		<nav class="nav">
			<div id="btn_home" class="nav-item">
				<span data-translate="title.main.home"></span>
			</div>
			<div id="btn_game" class="nav-item active">
				<span data-translate="title.main.pong"></span>
			</div>
			<div id="btn_friends" class="nav-item">
				<span data-translate="title.main.friends"></span>
			</div>
			<div id="btn_leaderboard" class="nav-item">
				<span data-translate="title.main.leaderboard"></span>
			</div>
			<div id="btn_mystats" class="nav-item">
				<span data-translate="title.main.mystats"></span>
			</div>
			<div id="btn_settings" class="nav-item">
				<span data-translate="title.main.settings"></span>
			</div>
			<div id="btn_logout" class="nav-item">
				<span data-translate="title.main.logout"></span>
			</div>
		</nav>

		<div class="panel">
			<h2 class="panel-header" data-translate="pong.title"></h2>

		<div class="game-container">
			<canvas id="board"></canvas>

			<nav class="nav right-nav card">
				<div id="btnPause" class="nav-item">
					<span data-translate="pong.pause"></span>
				</div>
				<div id="btnSettingsPong" class="nav-item">
					<span data-translate="pong.settings"></span>
				</div>
				<div class="game-info">
					<h3 data-translate="pong.instructions.title"></h3>
					<p data-translate="pong.instructions.text"></p>
				</div>
				<div class="game-info">
					<h3 data-translate="pong.controls.title"></h3>
					<p data-translate="pong.controls.player"></p>
					<p data-translate="pong.controls.guest"></p>
				</div>
				<div class="game-info">
					<h3 data-translate="pong.gamestats.title"></h3>
					<p data-translate="pong.gamestats.player"><span id="player1Score" name='myScore'>0</span></p>
					<p data-translate="pong.gamestats.guest"><span id="player2Score" name='oppScore'>0</span></p>
				</div>
			</nav>
		</div>
	</div>
</main>

	<div id="settingsOverlay" class="overlay active">
		<div class="overlay-content phosphor">
			<button class="popup-close" id="btnCloseSettingsPong">×</button>
			<div class="popup-header">
				<h2 data-translate="pong.settings.title"></h2>
				<p data-translate="pong.settings.warning"></p>
			</div>
			<div class="form-group">
				<label>BALL SPEED</label>
				<input type="range" class="input" id="ballSpeedSlider" min="1" value="2" max="3">
			</div>
			<div class="form-group">
				<label>PADDLE SPEED</label>
				<input type="range" class="input" id="paddleSpeedSlider" min="1" value="2" max="3">
			</div>
			<div class="form-group">
				<button id="btnEnablePowerups" class="btn">ENABLE POWERUPS</button>
				<button id="btnEnableAI" class="btn">ENABLE AI</button>
			</div>
			<div class="form-group">
				<button id="btnResetDefaultSettings" class="btn">RESET DEFAULT</button>
				<button id="btnQuitSettings" class="btn">QUIT GAME</button>
			</div>
			<div class="form-group">
				<button id="btnPlay" class="btn">SAVE & PLAY</button>
			</div>
		</div>
	</div>

	<div id="gameResultOverlay" class="overlay">
		<div class="overlay-content phosphor">
			<div class="popup-header">
				<h2 id="gameResultMessage">PLAYER WON!</h2>
			</div>
			<div class="form-group">
				<button id="btnPlayAgain" class="btn" data-translate="brickbreaker.result.play_again"></button>
				<button id="btnQuit" class="btn" data-translate="brickbreaker.result.quit"></button>
			</div>
		</div>
	</div>
</div>