<div class="scanline"></div>
<div class="crt"></div>
<div class="container phosphor">
	<header class="header">
		<h1>ROBCO INDUSTRIES UNIFIED OPERATING SYSTEM</h1>
		<p>COPYRIGHT 2075-2077 ROBCO INDUSTRIES</p>
	</header>
	<main class="main-content">
		<!-- Navigation -->
		<nav class="nav">
			<div id="btn_home" class="nav-item">
				<span>&gt; HOME</span>
			</div>
			<div id="btn_game" class="nav-item active">
				<span>&gt; PLAY PONG</span>
			</div>
			<div id="btn_brickbreaker" class="nav-item">
				<span>&gt; PLAY BRICKBREAKER</span>
			</div>
			<div id="btn_friends" class="nav-item">
				<span>&gt; FRIENDS</span>
			</div>
			<div id="btn_leaderboard" class="nav-item">
				<span>&gt; LEADERBOARD</span>
			</div>
			<div id="btn_settings" class="nav-item">
				<span>&gt; SETTINGS</span>
			</div>
			<div id="btn_logout" class="nav-item">
				<span>&gt; LOG OUT</span>
			</div>
		</nav>

		<div class="panel">
			<h2 class="panel-header">&gt; PONG</h2>

			<div class="game-container">
				<canvas id="board"></canvas>
			
				<nav class="nav right-nav card">
					<div id="btn_pause" class="nav-item">
						<span>&gt; PAUSE (SPACE)</span>
					</div>
					<div id="btnSettingsPong" class="nav-item">
						<span>&gt; SETTINGS (ESC)</span>
					</div>
					<div class="game-info">
						<h3>CONTROLS</h3>
						<p>PLAYER: W/S</p>
						<p>GUEST: UP/DOWN</p>
					</div>
					<div class="game-info">
						<h3>GAMESTATS</h3>
						<p>PLAYER: <span id="player1Score">0</span></p>
						<p>GUEST: <span id="player2Score">0</span></p>
					</div>
				</nav>
			</div>
		</div>
	</main>

	<div id="settingsOverlay" class="overlay active">
		<div class="overlay-content phosphor">
			<button class="popup-close" id="btnCloseSettingsPong">×</button>
			<div class="popup-header">
				<h2>GAME SETTINGS</h2>
				<p>WARNING: OPENING THE GAME SETTINGS DURING A GAME WILL RESULT IN A LOST POINT!</p>
			</div>
			<div class="form-group">
				<label>BALL SPEED</label>
				<input type="range" class="input" id="ballSpeedSlider" min="1" value="2" max="3">
			</div>
			<div class="form-group">
				<label>PADDLE SPEED</label>
				<input type="range" class="input" id="paddleSpeedSlider" min="1" value="2" max="3">
			</div>
			<div class="form-group">
				<button id="enablePowerupsButton" class="btn">ENABLE POWERUPS</button>
				<button id="enableAIButton" class="btn">ENABLE AI</button>
			</div>
			<div class="form-group">
				<button id="resetDefaultSettingsButton" class="btn">RESET DEFAULT</button>
				<button id="btnQuitSettings" class="btn">QUIT GAME</button>
			</div>
			<div class="form-group">
				<button id="playButton" class="btn">SAVE & PLAY</button>
			</div>
		</div>
	</div>

	<div id="gameResultOverlay" class="overlay">
		<div class="overlay-content phosphor">
			<div class="popup-header">
				<h2 id="gameResultMessage">YOU WON! CONGRATULATIONS!</h2>
			</div>
			<div class="form-group">
				<button id="btnPlayAgain" class="btn">PLAY AGAIN</button>
				<button id="btnQuit" class="btn">QUIT</button>
			</div>
		</div>
	</div>
</div>