<div class="terminal">
	<div class="header">TERMINAL v7.1.0</div>
	<div class="subtitle">ENTER CREDENTIALS</div>
	<div class="formlogin">
		<label for="username">> VAULT-TEC LOGIN</label>
		<input type="text" id="username" placeholder="_">
		<label for="password">> PASSWORD</label>
		<input type="password" id="password" placeholder="********">
		<button id="loginBtn">SIGN IN</button>
	</div>
	<label id="register"><u>Sign-up</u></label>
	<div class="footer">VAULT-TEC SECURE TERMINAL</div>
</div>
