<div class="terminal">
	<div class="header">TERMINAL v7.1.0</div>
	<div class="subtitle">ENTER CREDENTIALS</div>
	<div class="formlogin">
		<label for="username">> VAULT-TEC LOGIN</label>
		<input type="text" id="username" placeholder="_">
		<label for="password">> PASSWORD</label>
		<input type="password" id="password" placeholder="********">
		<button id="loginBtn">SIGN IN</button>
	</div>
	<label id="register"><u>Sign-up</u></label>
	<button id="login42Btn" onclick="window.location.href='https\://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-53158e8ed2199eb8c7fd7bfa6e9909286f03eebc6c40f2868592dc4af0c69174&redirect_uri=https%3A%2F%2F127.0.0.1%2Fsrclogin%2Freqlogin42%2F&response_type=code'">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 40" height="18" class="ml-2 transition-all fill-white group-hover:fill-black">
			<path d="M31.627.205H21.084L0 21.097v8.457h21.084V40h10.543V21.097H10.542L31.627.205M35.349 10.233 45.58 0H35.35v10.233M56.744 10.542V0H46.512v10.542L36.279 21.085v10.543h10.233V21.085l10.232-10.543M56.744 21.395 46.512 31.628h10.232V21.395"></path>
		</svg>
	</button>
	<div class="footer">VAULT-TEC SECURE TERMINAL</div>
</div>
