<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcendence</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="terminal">
        <div class="header">TERMINAL v7.1.0</div>
        <div class="subtitle">ENTER CREDENTIALS</div>
        <div class="formlogin">
            <label for="username">> VAULT-TEC LOGIN</label>
            <input type="text" id="username" placeholder="_">
            <label for="password">> PASSWORD</label>
            <input type="password" id="password" placeholder="********">
            <button id="loginBtn">SIGN UP</button>
			<script src="{% static 'js/register_btn.js' %}" defer></script>
		</div>
		<label id="login"><u>Sign-in</u></label>
        <div class="footer">VAULT-TEC SECURE TERMINAL</div>
    </div>
</body>
</html>
